html,body{ margin:0; padding:0; height:100%; width:100%; }
#appBody{
    height:100%;
    width:100%;

    overflow:hidden; /* or overflow:auto; if you want scrollbars */
}

#degreeValue{
    position:absolute;
    left: 45%;
    top: 50%;

}

#upArrow {
    position:absolute;
    left: 45%;
    top: 40%;
}

#downArrow {
    position:absolute;
    left: 45%;
    top: 60%;
}